<div class="mini-container">
  <div class="page-header">
    <h1>Please Sign Up</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "ex: name@domain.com" %>
    </div>

    <div class="form-group">
      <div class="double-content">
        <%= f.label :password, class: "inline-label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Re-Confirm Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-button center-content">
      <%= f.submit "Sign Up", class: "btn btn-lg btn-block btn-warning" %> 
    </div>
  <% end %> <!-- end form-group -->

  <hr>

  <div class="center-content large-anchors">
    <%= render "devise/shared/links" %>
    <%= link_to "Return to Base", root_path %>
  </div>

  <hr class="heavy-hr">
</div> <!-- end mini-container -->