<div class="mini-container">
  <div class="page-header">
    <h1>Please Log In</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "ex: name@domain.com" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="double-content">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "inline-label custom-label"  %>
      </div>      
    <% end -%>

    <div class="form-button center-content">
      <%= f.submit "Log In", class: "btn btn-lg btn-block btn-warning" %> 
    </div>
  <% end %> <!-- end form-group -->

  <hr>

  <div class="center-content large-anchors">
    <%= render "devise/shared/links" %>
    <%= link_to "Return to Base", root_path %>
  </div>

  <hr class="heavy-hr">
</div> <!-- end mini-container -->