<div class="row" data-room-id="<%= @room.id %>">
	<p>
	  <strong>Name:</strong>
	  <%= @room.name %>
	</p>

	<p>
	  <strong>Subject:</strong>
	  <%= @room.subject %>
	</p>

	<p>
	  <strong>current_user:</strong>
	  <%= current_user.id %>
	</p>	

	<div class="alert alert-info" style="display:none" role="alert">A new message was posted!</div>

<p>
<strong>Current users</strong><br>
<% @users.each do |user| %>
	->>> <%= user.first_name %><br>
<% end %>
</p>


	<%= render 'messages' %>
	<%= render 'new_message' %>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back to Launch Site List', rooms_path %> | 
<%= link_to 'Return to Base', root_path %>
