<div class="container-fluid" data-room-id="<%= @room.id %>">

	<div class="row">
	  <div class="col-md-3 side-bar">
			<p>
			  <strong><%= @room.name %></strong>
			  <%= @room.subject %>
			</p>

			<p>
			  <strong><%= current_user.first_name %></strong>
			</p>	

			<!--
			<p>
				<strong>Current users</strong><br>
			-->
				<%# @users.each do |user| %>
					<%#= user.first_name %>

				<%# end %>
			<!--
			</p>
			-->

			<%= link_to 'Back to Launch Site List', rooms_path %><br>
			<%= link_to 'Return to Base', root_path %>
	  </div>
	  
	  <div class="col-md-9">
			<%= render 'messages' %>
			<%= render 'new_message' %>
	  </div>
	</div>
</div>
