<!DOCTYPE html>
<html>
<head>
  <title>Rocketlaunchsite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->  
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'TheLaunchSite', root_path, class: "navbar-brand" %>
        <% if controller.controller_name == "rooms" && controller.action_name == "show" %>
          <span class="glyphicon glyphicon-chevron-right navbar-brand custom-brand" id="custom-chevron" aria-hidden="true"></span>
          <span class="navbar-brand custom-brand"><%= @room.name %></span>
        <% end %>
      </div>
      
      <% if user_signed_in? %>

      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello <%= current_user.first_name != "" ? current_user.first_name : "Friend" %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if controller.controller_name == "rooms" && controller.action_name == "show" %>
                <li><%= link_to 'Back to Site List', rooms_path %></li>
              <% end %>
              <li><%= link_to 'My Profile', user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

      <% end %> 
    </div><!-- /.container-fluid -->
  </nav>

  <% if notice != nil %>
    <div class="alert alert-info modified-alert" id="notice" role="alert"><%= flash[:notice] %></div>
  <% end %>

  <% if alert != nil %>
    <div class="alert alert-danger modified-alert" id="alert" role="alert"><%= flash[:alert] %></div>
  <% end %>  

  <%= yield %>
</body>
</html>
