<!DOCTYPE html>
<html>
<head>
  <title>The Rocket Launch Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->  
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header pull-left">
        <%= link_to image_tag("rocket-mini_25_w.png", id: "minirocketimage"), root_path, class: "navbar-brand", id: "minirocket" %>
      </div>

      <% if user_signed_in? %>
        <div class="navbar-header pull-right">
          <% if controller.controller_name == "rooms" && controller.action_name == "show" %>
            <%= link_to raw('<span class="navbar-glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span>'), rooms_path, class: "navbar-glyphicon-container" %>
          <% end %>             
          <%= link_to raw('<span class="navbar-glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>'), user_path(current_user), class: "navbar-glyphicon-container" %>
          <%= link_to raw('<span class="navbar-glyphicon glyphicon glyphicon-log-out" aria-hidden="true"></span>'), destroy_user_session_path, :method => :delete, class: "navbar-glyphicon-container" %>
        </div>
      <% end %>

    </div><!-- /.container-fluid -->
  </nav>

  <% if controller.controller_name == "rooms" && controller.action_name == "show" %>
    <div id="launch-pad-name" class="panel panel-default">
      <div class="panel-body">
        <%= @room.name %>
      </div>
    </div>
  <% end %>

  <% if notice != nil %>
    <div class="alert alert-info modified-alert" id="notice" role="alert"><%= flash[:notice] %></div>
  <% end %>

  <% if alert != nil %>
    <div class="alert alert-danger modified-alert" id="alert" role="alert"><%= flash[:alert] %></div>
  <% end %>  

  <%= yield %>
</body>
</html>
